<h1>Please Login</h1>
<%= simple_form_for :session, url: login_path do |f| %>
    <div class="row">
        <div class="col">
            <%= f.input :email %>
        </div>
        <div class="col">
            <%= f.input :password %>
        </div>
    </div>
    <%= f.button :submit %>
        <%= link_to 'Sign Up', signup_path %>
            <% end %>