<h1 id='register'>Please Register</h1>
<!-- BOOTSTRAP DESIGN -->
<div class="container">
    <%= simple_form_for @user do |f| %>
                <!-- EMAIL -->
        <div class="row">
            <div id='new_email' class="col-sm-offset-2 col-sm-5">
                <%= f.input :email, label: 'Your email please', error: 'Email is mandatory, please specify one' %>
            </div>
        </div>
                <!-- PASSWORD -->
        <div class="row">
            <div id='new_pass' class="col-sm-offset-2 col-sm-5">
                <%= f.input :password, placeholder: 'Please type your password' %>
            </div>
        </div>
                <!-- CONFIRM PASSWORD -->
        <div class="row">
            <div id='conf_pass' class="col-sm-offset-2 col-sm-5">
                <%= f.input :password_confirmation, placeholder: 'Please confirm your password' %>
            </div>
        </div>
                 <!-- SUBMIT -->
        <span id='save'><%= f.button :submit %></span>
        <% end %>
</div>