<h1 id='register'>Please Register</h1>
<div class='container'>
<%= simple_form_for @user do |f| %>
  <!-- EMAIL REGISTRATION -->
  <div class='row'>
  	<div class="col-xs-8 col-sm-offset-3 col-md-offset-4 col-md-7 col-lg-offset-4 col-lg-5">
  		<%= f.input :email, label: 'Your email please', error: 'Email is mandatory, please specify one' %>
  	</div>
  </div>
  <!-- NEW PASSWORD -->
  <div class='row'>
  	<div class="col-xs-8 col-sm-offset-3 col-md-offset-4 col-md-7 col-lg-offset-4 col-lg-5">
  		<%= f.input :password, placeholder: 'Please type your password' %>
  	</div>
  </div>
  <!-- CONFIRM PASSWORD -->
  <div class='row'>
  	<div class="col-xs-8 col-sm-offset-3 col-md-offset-4 col-md-7 col-lg-offset-4 col-lg-5">
  		<%= f.input :password_confirmation, placeholder: 'Please confirm your password' %>
  	</div>
  </div>
  <!-- SUBMIT -->
  <div class='row'>
  	<div  id='save' class="col-xs-8 col-sm-offset-3 col-md-offset-4 col-md-7 col-lg-offset-4 col-lg-5">
  		<%= f.button :submit %>
  	</div>
  </div>
<% end %>
</div>