<%= render  'shared/header' %>
   
                     <!-- SONG OF THE DAY, MIDDLE DIV -->
   <div id='user' class='container'>
        <%= @user.name %>

        </div>

        <!-- SONG OF THE DAY, MIDDLE DIV -->
        <div id='day' class="mr-p-2">
            Song of the Day
            <h1><%= @song_of_the_day[:name] %></h1>
            <h2>by: <%= @artist[:name] %></h2>
            <!-- song of the day controller -->
        </div>

        <!-- FAVORITE ARTIST -->
        <div class="mb-auto p-2">
            <%= link_to("Favorite Artist", "/artists")%>
        </div>
        <!-- FAVORITE SONG -->
        <div class="p-2">
            <%= link_to("Favorite Song", "/songs")%>

        </div>
            <span id='custom_prof'> <%= link_to("Edit Profile", edit_user_path)%> </span>

    </div>