<%= render  'shared/header' %>

                     <!-- SONG OF THE DAY, MIDDLE DIV -->
   <div class='row justify-content-between'>
       <p id='user'> <%= @user.name %> username</p>

        <!-- SONG OF THE DAY, MIDDLE DIV -->
        <div id='day' class='col-xs-8 col-sm-offset-3 col-md-offset-4 col-md-7 col-lg-offset-4 col-lg-5'>
            Song of the Day
            <!-- song of the days controller -->
        </div>

        <!-- FAVORITE ARTIST -->
        <div class='align-self-center'>
            <%= link_to("Favorite Artist", "/artists")%>
        </div>
          <!-- FAVORITE SONG -->
        <div> <%= link_to("Favorite Song", "/songs")%></div>
        <span id='custom_prof'> <%= link_to("Edit Profile", edit_user_path)%> </span>
    </div>