<%= render  'shared/header' %>
   <div id='user' class='d-flex align-items-start flex-column'>
        <div id='user_info'>
        <%= @user.name %>


        </div>

        <!-- SONG OF THE DAY, MIDDLE DIV -->
        <div id='day' class="mr-p-2">
            Song of the Day
            <!-- song of the day controller -->
        </div>
        <!-- FAVORITE ARTIST -->
        <div class="mb-auto p-2">
            <%= link_to("Favorite Artist", "/artists")%>
        </div>
        <!-- FAVORITE SONG -->
        <div class="p-2">
            <%= link_to("Favorite Song", "/songs")%>

        </div>

     <span> <%= link_to("Edit Profile", edit_user_path)%> </span>

    </div>