
<%= render  'shared/header' %>
<div id='user_info'>
<<<<<<< HEAD
<%= @user.name %>
=======

<%= @user.name %>


<%= @user.name %>

>>>>>>> 3fc1b7a3384da9c7935fe56d48ce3d8728f5ca6f
</div>

<div id='day'>Song of the Day</div>
<!-- song of the day controller -->

<div id='profile'>

	<div id='artist'>
		<%= link_to("Favorite Artist", new_artist_path) %>
	</div>
	<div id='song'>
		<%= link_to("Favorite Song",new_song_path) %>
	</div>
</div>
