<%= render  'shared/header' %>
   
        <!-- SONG OF THE DAY, MIDDLE DIV -->
    <div id='user'>
        <%= @user.name %>
    </div>
     <!-- SONG OF THE DAY, MIDDLE DIV -->
    <div class='d-flex justify-content-around'>
        <div class='row'>
            <div id='day'>  
            </div>
        </div>
            <!-- FAVORITE ARTIST -->
        <div class='row'>
            <div>
                 <%= link_to("Favorite Artist", "/artists")%>
            </div>
        </div>
          <!-- FAVORITE SONG -->
        <div class="p-2"> <%= link_to("Favorite Song", "/songs")%></div>
        <span id='custom_prof'> <%= link_to("Edit Profile", edit_user_path)%> </span>
    </div>