<div id='user_info'>
<%= @user.name %>
</div>

<div id='day'>Song of the Day</div>
<!-- song of the day controller -->

<div id='profile'>

	<div id='artist'>Favorite Artist</div>
<%= link_to ("Favorite Artist")%>
	<div id='song'>Favorite Song</div>
		<%= link_to ("Favorite Artist")%>
</div>

<%= render  'shared/header' %>
    <div id='user_info'>
        <%= @user.name %>
    </div>
    <div id='day'>Song of the Day</div>
    <!-- song of the day controller -->
    <div id='profile'>
        <div id='artist'>
            <%= link_to("Favorite Artist", artist_path)%>
        </div>
        <div id='song'>
            <%= link_to("Favorite Song", song_path)%>
        </div>
    </div>

    <div>
    <%= link_to("Edit Profile", edit_user_path)%>
    </div>

