<%= render  'shared/header' %>

           <!-- SONG OF THE DAY, MIDDLE DIV -->
       <p id='user'> <%= @current_user[:name] %> username</p><br>
       <p id='my_genre'><%= @user.genre %>genre</p><br>
       <p id='my_location'><%= @user.location %>location</p>
          
          <!-- song of the days controller -->
        <div id='day'>
            Song of the Day
            <h1><%= @song_of_the_day[:name] %></h1>
            <h2>by: <%= @artist[:name] %></h2>
        </div>

        <!-- FAVORITE ARTIST -->
        <div id='artist'>
        <%= @current_user%>
            <%= link_to("Favorite Artists", "/artists")%>
        </div>

          <!-- FAVORITE SONG -->
        <div id='song'>
        <%= @current_user.songs.ids%>
         <%= link_to("Favorite Songs", "/songs")%>
         </div>

        <span id='custom_prof'> <%= link_to("Edit Profile", edit_user_path)%> </span>
    </div>