<%= render  'shared/header' %>
<div class="page-title second-bg">
  <h1>Search</h1>
  <div class="info search-info">
    <%= form_for(:query, url: search_path) do |f|%>
	  <%= f.label :Artist %>
	  <%= f.text_field :artist %>
	  <%= f.label :Song %>
	  <%= f.text_field :song %>
	  <%= f.submit("Search") %>
	<% end %>
  </div>
</div>

<div class="show">
  <div class="songs results">
  	<% @tracks.each do |track| %>
	<div class="rest-cont">
		<p>name: <%= track["name"] %></p>
		<p>artist: <%= track["artists"][0]["name"] %></p>
		<%= form_for(:add, url: "/songs/") do |f|%>
		  <%= f.hidden_field :name, { :value => track["name"]} %>
		  <%= f.hidden_field :artist, { :value => track["artists"][0]["name"]} %>
		  <%= f.hidden_field :spotify_id, { :value => track["id"]} %>
		  <%= f.hidden_field :genre, { :value => ""} %>
		  <%= f.submit("Add") %>
		<% end %>
	</div>
	<% end %>

  </div>
</div>