<%= render  'shared/header' %>
  <h1 id='search_song'>Search</h1>
  <div class="info search-info">
  <div class="container">
  	<div id='music' class="row">
  		<div class="col-xs-6 col-sm-offset-6 ">
   		 	<%= form_for(:query, url: search_path) do |f|%>
		 	<%= f.label :Artist %> 
		 	<%= f.text_field :artist %> 
			 <%= f.label :Song %> 
		 	<%= f.text_field :song %> 
		 	<span class="search_btn"><%= f.submit("Search") %> </span>
		</div>
	<% end %>
	</div>
	</div>
  </div>
</div>
